$border-color: #d9d9d9;

.post-container {
    min-width: 500px;
    background-color: white;
    min-height: 300px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    .post-header {
        .post-user {
        }
        .post-user-img {
            img {
                height: 40px;
                width: 40px;
                border-radius: 50%;
            }
        }
        .post-delete-btn {
            span {
                cursor: pointer;
            }
        }
    }
    .post-body {
        .post-title {
        }
        .post-body-bg {
        }
        .post-body-content {
        }
    }
    .post-footer {
        .post-like-comment {
            border-top: 1px solid $border-color;
        }
        .post-actions-btn {
            border-top: 1px solid $border-color;
        }
        .post-write-comment-field {
            border-top: 1px solid $border-color;
            img {
                height: 35px;
                width: 35px;
                border-radius: 50%;
            }
            textarea {
                margin-left: 10px;
                width: 100%;
                border: none;
                line-height: normal;
                border-radius: 15px;
                background-color: #f2f2f2;
                text-indent: 10px;
                outline: none;
                padding-top: 1rem;
            }
        }

        .post-user-commnents {
            .post-user-comment {
                img {
                    height: 35px;
                    width: 35px;
                    border-radius: 50%;
                }
                .user-comment {
                    height: fit-content;
                    width: fit-content;
                    padding: 5px 10px;
                    background-color: #f0f2f5;
                    border-radius: 10px;
                    margin-left: 10px;
                    .user-comment-name {
                        font-weight: bold;
                    }
                    .user-commnent-body {
                    }
                }
            }
        }
    }
}
